<br>
<div class="row">
    <div class="col-md-4"><%= link_to("Дисконтные карты", disccards_path) %></div>
</div>
<h2>Дни рождения клиентов</h2>
<%= form_tag owners_path, method: 'get' do %>
    <%= date_field_tag :date_of_birth, params[:date_of_birth] %>
    <%= submit_tag 'Показать' %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Телефон</th>
      <th>Не звонить</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |a| %>
    <tr>
      <td><%= a.full_name %></td>
      <td><%= a.date_of_birth %></td>
      <td><%= a.cellphone %></td>
      <td><%= a.dont_bother %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @owners %>

