<h2>Дисконтные карты</h2>
<ul class="nav nav-tabs">
  <li role="presentaion"><%= link_to("Все карты", disccards_path) %></li>
  <li role="presentaion" class="active"><%= link_to("Дни рождения клиентов", "#") %></li>
  <li role="presentaion"><%= link_to("Дни рождения детей", children_path) %></li>
</ul>
<br>
<%= form_tag owners_path, method: 'get' do %>
    <%= date_field_tag :start_date, params[:start_date] %>
    <%= date_field_tag :end_date, params[:end_date] %>
    <%= submit_tag 'Показать' %>
<% end %>
<p><%= "Всего: #{@owners.count}" %></p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Тип карты</th>
      <th><small>Сумма<br>за<br>последний<br>год</small></th>
      <th><small>Чеков<br>за<br>последний<br>год</small></th>
      <th>Предпочтения</th>
      <th>Телефон</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |a| %>
    <tr <% if a.dont_bother == true %>class="danger"<% end %>>
      <td><%= a.full_name %></td>
      <td><%= a.date_of_birth.strftime("%d.%m.%Y") %></td>
      <td>
          <% a.disccards.each do |d| %>
            <% if d.activity != true %><del><% end %><%= d.disccard_type %><% if d.activity != true %></del><% end %><br>
          <% end %>
      </td>
      <td><%= a.last_year_sum %></td>
      <td><%= a.last_year_docs %></td>
      <td>
        <% m=a.preferable_brands.split(',') %>
        <% m.each do |t| %>
          <%= t %><br>
        <% end %>
        <% if a.last_visit != nil %>
          <strong>Последний визит: <%= a.last_visit.strftime('%d.%m.%Y') %></strong>
        <% end %>
      </td>
      <td><%= number_to_phone a.cellphone %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @owners %>

