<h2>Дисконтные карты</h2>
<ul class="nav nav-tabs">
  <li role="presentaion"><%= link_to("Все карты", disccards_path) %></li>
  <li role="presentaion" class="active"><%= link_to("Дни рождения клиентов", "#") %></li>
  <li role="presentaion"><%= link_to("Дни рождения детей", "#") %></li>
</ul>
<br>
<%= form_tag owners_path, method: 'get' do %>
    <%= date_field_tag :date_of_birth, params[:date_of_birth] %>
    <%= submit_tag 'Показать' %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Телефон</th>
      <th>Не звонить</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |a| %>
    <tr>
      <td><%= a.full_name %></td>
      <td><%= a.date_of_birth %></td>
      <td><%= a.cellphone %></td>
      <td><%= a.dont_bother %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @owners %>

