<h2>Дисконтные карты</h2>
<ul class="nav nav-tabs">
  <li role="presentaion" class="active"><%= link_to("Все карты", disccards_path) %></li>
  <li role="presentaion"><%= link_to("Дни рождения клиентов", owners_path) %></li>
  <li role="presentaion"><%= link_to("Дни рождения детей", children_path) %></li>
</ul>
<%= form_tag disccards_path, method: 'get' do %>
  <% content_tag :label do %>
    <%= text_field_tag :q, params[:q], placeholder: 'Найти:' %>
    <%= submit_tag 'Поиск' %>
  <% end %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Тип карты</th>
      <th>Владелец</th>
      <th>Телефон</th>
      <th>СМС</th>
      <th>Email</th>
      <th>Не звонить</th>
      <th>Анкета</th>
    </tr>
  </thead>
  <tbody>
    <% @disccards.each do |a| %>
    <tr>
      <td><%= a.number %></td>
      <td><%= a.disccard_type %></td>
      <td><%= a.cardowner.full_name if a.cardowner != nil %></td>
      <td><%= a.cardowner.cellphone if a.cardowner != nil %></td>
      <td><%= a.cardowner.allow_sms if a.cardowner != nil %></td>
      <td><%= a.cardowner.allow_email if a.cardowner != nil %></td>
      <td><%= a.cardowner.dont_bother if a.cardowner != nil %></td>
      <td>
          <% a.regforms.each do |r| %>
          <%= link_to(image_tag(r.image.url, height: "150"), edit_regform_path(r)) %><br>
          <%= link_to("Увеличить",r.image.url) %><br>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @disccards %>
