<table>
  <tr>
    <td>
      <% if action_name != 'new' %>
      <%=  image_tag(@regform.image.url, height: "800") %>
      <% end %>
    </td>
    <td>
      <%= simple_form_for @regform do |a| %>
        <%= a.input :barcode, label: "Баркод" %>
        <%= a.input :image, as: :file, label: "Изображение" %>
        <%= a.submit "Загрузить файл" %>
      <% end %>
    </td>
  </tr>
</table>
