<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>Имя файла</th>
      <th>Оригинальное имя</th>
      <th>Размер</th>
      <th>Тип</th>
      <th>Статус</th>
      <th>Эскиз</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @regform.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.image.name %></td>
      <td><%= a.image.name %></td>
      <td><%= a.image.size %></td>
      <td><%= a.image.mime_type %></td>
      <td><%= a.status %></td>
      <td><%= image_tag(a.image.url, size: "200") %></td>
      <td><%= link_to "Просмотр", edit_regform_path(a) %><br><%= link_to "Удаление", regform_path(a), method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger"  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="span8"></div>
  <div class="span4">
      <ul class="nav nav-pills">
        <li><%= link_to "Новая анкета", new_regform_path %></li>
      </ul>
  </div>
