<div class="span8"></div>
  <div class="span4">
      <!--<ul class="nav nav-pills">
        <li><%= link_to "Новая анкета", new_regform_path %></li>
      </ul>-->
      <ul class="nav nav-pills">
        <li><%= link_to "Потерянные формы", unlinkedregform_path %></li>
      </ul>
  </div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>Имя файла</th>
      <th>Оригинальное имя</th>
      <th>Размер</th>
      <th>Баркод</th>
      <th>ДК</th>
      <th>Салон</th>
      <th>Создано</th>
      <th>Тип</th>
      <th>Статус</th>
      <th>Эскиз</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @regforms.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.image.name %></td>
      <td><%= a.image.name %></td>
      <td><%= a.image.size %></td>
      <td><%= a.barcode %></td>
      <td><%= a.disccard.number if a.disccard != nil %></td>
      <td><%= a.salon.name if a.salon != nil %></td>
      <td><%= a.created_at %></td>
      <td><%= a.image.mime_type %></td>
      <td><%= a.status %></td>
      <td><%= image_tag(a.image.thumb('150x150#').url) if a.image.image? %></td>
      <td><%= link_to "Просмотр", edit_regform_path(a) %>
        <br>
        <%= link_to "Удаление", regform_path(a), method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger"  %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @regforms %>
