<p><%= link_to "Все формы", regforms_path %></p>
<p><%= "Всего #{@total} неприкрепленных форм" %></p>
<% if @regform != nil %>
<table>
  <tr>
    <td>
      <%= image_tag(@regform.image.url, width: "800") %>
    </td>
    <td>
      <%= form_tag  linkregform_path do %>
        <%= hidden_field_tag "id", @regform.id %>
        <%= hidden_field_tag "disccard_id","" %><br>
        <%= label_tag "Штрихкод" %><br>
        <%= text_field_tag "barcode", "" %><br>
        <%= label_tag "Номер карты" %><br>
        <%= autocomplete_field_tag "disccard", "", autocomplete_disccard_number_linkregforms_path, id_element: '#disccard_id' %><br>
        <%= submit_tag "Сохранить", name: "Submit" %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
