<!DOCTYPE html>
<html>
<head>
  <title>Портал</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="row">
    <br>
    <div class="col-md-4"><%= link_to("Главное меню", root_path) if user_signed_in? %></div>
    <div class="col-md-4 col-md-offset-4"><%= current_user.email if current_user != nil %> <%= link_to("Выход", destroy_user_session_path, method: :delete) if user_signed_in? %></div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
