<!DOCTYPE html>
<html>
<head>
  <title>Портал</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="span8"><h1>Главная страница</h1></div>
    <div class="span4">
        <ul class="nav nav-pills">
          <li><%= link_to "Профиль", root_path  %></li>
          <li><%= link_to "Выход", root_path %></li>
        </ul>
    </div>
  </div>
  <div class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
